.dropdown {
    overflow: hidden;
}
.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;    
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
}

.navbar a, .dropdown .dropbtn {
    transition: background-color 0.3s;
}
.dropdownContent {
    display: none;
    position: absolute;
    padding: 0 0.5rem;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdownContent a {
    float: none;
    color: #a9b1b7;
    text-decoration: none;
    text-align: left;
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.dropdownContent a:hover {
    color: #636e77;
}
.dropdown:hover .dropdownContent {
    display: flex;
    flex-flow: column nowrap;
    padding: 1rem 1rem;
    gap: 1rem;
    border-radius: 0.37rem;
}

.dropdown:hover .dropbtn {
    color: #636e77;
}