---
import { LoginController } from "../../controllers/login.controller.ts";
import ContainerLoading from "../../components/user/Loading.tsx";
import { userType } from "../../../constants/userType.ts";
import AccessExpired from "../accessExpired.astro";
import AccessDenied from "../accessDenied.astro";
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../layouts/Navbar.astro";

const token = Astro.cookies.get("token");
const currentUserType = Astro.cookies.get("type");
let access = false;
let tokenExpired = false;


const verifyUser = async () => {
    if ((currentUserType) && (currentUserType.value == userType.user)) {
        if ((token) && (token.value)) {
            const user = await LoginController.getUser(token.value);
            if (user) {
                access = true;
                return user;
            } else {
                tokenExpired = true;
            }
        }
    }
}

const user = await verifyUser();
---
<Layout title="Perfil - ICM">
    {access && !tokenExpired &&
        <main class="w-full flex flex-col justify-center p-2">
            <Navbar loggedUser={userType.user}></Navbar>
            <ContainerLoading token={token.value} container={'History'} user={user} client:load></ContainerLoading>
        </main>
    }
    {!access && !tokenExpired &&
        <AccessDenied></AccessDenied>
    }
    {!access && tokenExpired &&
        <AccessExpired></AccessExpired>
    }
</Layout>
