.history {
    width: 100%;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.sectionDownload {
    background-color: var(--white);
    width: 100%;
    padding: 0.8em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border: 0.2em solid var(--gray-light);
    border-radius: 0.5em;
    box-shadow: 0.2em 0.3em 0.5em rgba(0, 0, 0, 0.2);
}

.sectionDownload h1 {
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
    color: var(--blue);
}

.sectionDownload p {
    margin: 0;
    font-size: 1.1em;
    color: var(--gray);
}

.btn {
    width: fit-content;
    height: 100%;
    padding: 0.5em 1em;
    display: flex;
    align-items: center;
    border-radius: 0.5em;
    background-color: var(--blue);
    color: var(--white);
    font-size: 1em;
    transition: all 0.2s ease-in-out;
}

.btn:hover {
    background-color: var(--blue-bright);
}

.btn:active {
    background-color: var(--blue-dark);
}

.btn:disabled {
    background-color: var(--gray);
    color: var(--gray-light);
}

.sectionReview {
    background-color: var(--white);
    width: 100%;
    padding: 0.8em;
    display: flex;
    flex-direction: column;
    border: 0.2em solid var(--gray-light);
    border-radius: 0.5em;
    box-shadow: 0.2em 0.3em 0.5em rgba(0, 0, 0, 0.2);
    gap: 0.7em;
}

.sectionReview h1 {
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
    color: var(--blue);
}

.sectionReview p {
    margin: 0;
    font-size: 1.1em;
    color: var(--gray);
}

.selectUser{
    width: fit-content;
    height: 40px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
}

.selectUser label {
    height: 100%;
    margin: 0;
    padding: 0 1em;
    display: flex;
    align-items: center;
    font-size: 1em;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 0.5em 0 0 0.5em;
}

.selectUser select {
    min-width: 30%;
    height: 100%;
    padding: 0 1em;
    border-width: 0.2em 0.2em 0.2em 0;
    border-style: solid;
    border-color: var(--gray-light);
    background-color: var(--white);
    color: var(--blue);
    font-size: 1em;
    border-radius: 0 0.5em 0.5em 0;
}

.selectUser select:disabled{
    background-color: var(--gray-light);
    color: var(--gray);
}

.selectUser:has(select:disabled) label{
    background-color: var(--gray);
    color: var(--gray-light);
}