.cardStatistics {
    width: 100%;
    padding: 0 1em;
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
}

.assignment {
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.assignment h3 {
    margin: 0;
    font-size: 1.8em;
    font-weight: bold;
    color: var(--blue);
}

.assignment p {
    margin: 0;
    font-size: 1.1em;
    color: var(--gray);
}

.btn {
    width: fit-content;
    height: 100%;
    padding: 0.5em 1em;
    display: flex;
    align-items: center;
    border-radius: 0.5em;
    background-color: var(--blue);
    color: var(--white);
    font-size: 1em;
    transition: all 0.2s ease-in-out;
}

.btn:hover {
    background-color: var(--blue-bright);
}

.btn:active {
    background-color: var(--blue-dark);
}

.btn:disabled {
    background-color: var(--gray);
    color: var(--gray-light);
}

.confirmAssignment {
    display: flex;
    flex-flow: row nowrap;
    gap: 0.5em;
}

.box{
    width: fit-content;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.box label {
    height: 100%;
    margin: 0;
    padding: 0 1em;
    display: flex;
    align-items: center;
    font-size: 1em;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 0.5em 0 0 0.5em;
}

.box select {
    min-width: 30%;
    height: 100%;
    padding: 0 1em;
    border-width: 0.2em 0.2em 0.2em 0;
    border-style: solid;
    border-color: var(--gray-light);
    background-color: var(--white);
    color: var(--blue);
    font-size: 1em;
    border-radius: 0 0.5em 0.5em 0;
}

.box select:disabled{
    background-color: var(--gray-light);
    color: var(--gray);
}

.box:has(select:disabled) label{
    background-color: var(--gray);
    color: var(--gray-light);
}

.inputFilter {
    background-color: var(--white);
    padding: 0 0.5em;
    color: var(--gray);
    border-width: 0.2em 0.2em 0.2em 0;
    border-style: solid;
    border-color: var(--gray-light);
    border-radius: 0 0.5em 0.5em 0;
}

.listInterfaces {
    padding: 0 1em;
}

