.table {
    width: 100%;
    background-color: var(--white);
    margin-bottom: 1em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    border: 2px solid var(--gray-light);
    border-radius: 0.5em;
    box-shadow: 0.2em 0.3em 0.5em rgba(0, 0, 0, 0.2);
}

.tableHeader {
    width: 100%;
    padding: 0.5em 0;
    border-radius: 0.5em 0.5em 0 0;
    background-color: var(--blue);
    display: flex;
    justify-content: center;
}

.tableHeader h2 {
    margin: 0;
    color: var(--white);
    font-size: 1.2em;
    font-weight: bold;
}

.tableContent {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.4em;
    color: var(--gray);
}

.contentHeader {
    width: 100%;
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-between;
    padding: 0 0.9em;
}

.contentInterface {
    width: fit-content;
    display: flex;
    flex-direction: row nowrap;
    gap: 1.5em;
}

.contentBox {
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: center;
    margin: 0;
    font-weight: 600;
    color: var(--blue);
}

.contentBox p {
    margin: 0;
    color: var(--gray);
    font-size: 0.9em;
    font-weight: 400;
}

.contentBoxChange {
    color: var(--red);
}

.contentData {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.data {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0 2em;
}

.data h3 {
    margin: 0;
    font-size: 1em;
    font-weight: bold;
}

.selectInterface {
    width: 1.2em;
    height: 1.2em;
    cursor: pointer;
}
