---
const token = Astro.cookies.get("token");
const userType = Astro.cookies.get("type");

if (token) Astro.cookies.delete("token");
if (userType) Astro.cookies.delete("type");
---
<main class="w-full h-full flex justify-center items-center">
    <div class="h-fit w-40 px-4 py-8 bg-white rounded-xl flex flex-col items-center">
        <img src="/assets/logo.png" alt="Logo ICM" class="h-20 w-20">
        <h2 class="font-lexend font-bold text-red-500 text-3xl mb-4">Acceso Denegado</h2>
        <button id="expired" class="rounded-full font-lexend font-bold text-white bg-red-500 px-6 py-2 transition-all duration-300 ease-in-out hover:bg-red-800">Aceptar</button>
    </div>
</main>
<script>
    const button = document.getElementById("expired");

    if (button) {
        button.addEventListener('click', () => {
            location.href = "/";
        })
    }
</script>
