---
// This is a test page
import Layout from '../layouts/Layout.astro';
import SelectorForm from '../components/form/selector';

export const data = ["a", "b", "c"]
---

<Layout>
    <main class="p-4">
        <h1>Selector:</h1>
        <SelectorForm id='test' label='Selector' options={data} client:load />
    </main>
</Layout>
