---
import '@fontsource-variable/lexend-deca';
import '@fontsource/gurajada';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/assets/logo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="gradient">
		<slot />
	</body>
</html>
<style is:global>
	:root{
		padding: 0;
		margin: 0;
		height: 100vh;
		width: 100vw;
	}
	.gradient {
		width: 100vw;
		height: 100vh;
		background: linear-gradient(270deg, #2c2c33, #31468b, #16255c);
		background-size: 180% 180%;
		animation: gradient-animation 6s ease infinite;
	}
    .font-lexend{
        font-family: 'Lexend Deca Variable', sans-serif;
    }
    .font-gurajada{
        font-family: 'Gurajada', serif;
    }	
	@keyframes gradient-animation {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}
</style>
