.bgBlue {
    background-color: var(--blue);
}

.nav {
    background-color: var(--blue);
    padding: 0.5em 1em;
    display: flex;
    justify-content: space-between;
}

.nav h1 {
    color: var(--white);
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
}

.nav ul {
    display: flex;
    gap: 1.5em;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

.nav li {
    margin: 0;
}

.nav a {
    color: var(--white);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.nav a:hover {
    color: var(--yellow);
}
