.spinner {
    border: 4px solid #FFFFFF;
    border-left-color: transparent;
    border-radius: 20px;
    width: 36px;
    height: 36px;
  
    animation: spin 1s linear infinite;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }